.custom-appbar {
    background-color: #77260d;
  }
  
  .custom-button {
    color: #ffffff;
  }

  .appBar {
    background-color: #934c36, // cor personalizada para o AppBar
  }
  .button {
    color: #ffffff, // cor personalizada para os botões
  }
  
  